<div class="container">
    <div class="container__top-logo">
        <div class="container__top-logo__text">
            <h1>Menu</h1>
            <button>
                <a href="/"><img src="/Logo-text.png" alt=""></a>
            </button>
        </div>
        <div class="container__top-logo__nav">
            <select name="menu-options" id="id-menu-options" multiple>
                <option value="1">Breakfast</option>
                <option value="2">Salad</option>
            </select>
        </div>
    </div>
</div>