<div class="section1">
    <div class="section1__home">
        <div class="section1__home__nav">
            <img src="/Logo.png" alt="">
            <ul>
                <li><button><a href="#section2">Menu</a></button></li>
                <li><button><a href="#section3">Reservations</a></button></li>
                <li><button><a href="#section4">About us</a></button></li>
                <li><button><a href="#section5">Contacts</a></button></li>
            </ul>
        </div>

        <div class="section1__home__slogan">
            <img src="/background.png" alt="">
        </div>
    </div>
</div>

<div class="section2">
    <div class="section2__image">
        <img src="/food-image.webp" alt="">
    </div>

    <div class="section2__text" id="section2">
        <h1>OUR MENU</h1>
        <p>
            At Savory Heaven, every dish is a tribute to refined taste and culinary craftsmanship.
            Our menu brings together timeless flavors and contemporary elegance, curated with the finest ingredients to
            create a truly heavenly dining experience.
        </p>
        <button [routerLink]="['/menu']">Menu</button>
    </div>
</div>

<div class="section3">
    <div class="section3__text" id="section3">
        <h1>RESERVATIONS</h1>
        <p>
            At Savory Heaven, we believe that every memorable meal begins with a warm welcome.
            Whether you're planning an intimate dinner, a special celebration,
            or a refined evening out, we invite you to reserve your place in advance and allow us to prepare an
            experience tailored just for you.
        </p>
        <button [routerLink]="['/reservation']">Book a table</button>
    </div>

    <div class="section3__image">
        <img src="/reservation-image.jpg" alt="">
    </div>
</div>

<div class="section4" id="section4">
    <div class="section4__image">
        <img src="/about-us-image.jpg" alt="">
    </div>

    <div class="section4__text">
        <h1>ABOUT US</h1>
        <p>
            Founded with a passion for refined flavors and heartfelt hospitality, our restaurant brings together
            tradition, creativity, and elegance on every plate.
            From carefully sourced ingredients to the artistry in each dish, our mission is to offer moments of true
            indulgence in an atmosphere of warmth and grace.
            Whether you’re joining us for a celebration or a quiet escape, we welcome you to experience the taste of
            something heavenly.
        </p>
    </div>
</div>

<div class="section5" id="section5">
    <div class="section5__socials">
        <ul>
            <li>
                <img src="/linkedin.png" alt="">
                <button>
                    <a href="https://www.linkedin.com/in/pedro-luis-gaspar-vieira-de-souza-02b123211/" target="_blank"
                        rel="noopener noreferrer">LinkedIn</a>
                </button>
            </li>
            <li>
                <img src="/github.png" alt="">
                <button><a href="https://github.com/PLGVS" target="_blank" rel="noopener noreferrer">GitHub</a></button>
            </li>
        </ul>
    </div>

    <div class="section5__text">
        <p>
            This is a fictional restaurant created for study purposes, thank you for taking the time to take a look at
            my project. Visit my GitHub to see more of my work!
        </p>
    </div>

    <div class="section5__credits">
        <p>Developed by: Pedro Luis Gaspar Vieira de Souza</p>
    </div>
</div>